<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <nav th:replace="fragments/navigationbar.html :: head"/>
</head>

<body>

<nav th:replace="fragments/navigationbar.html :: navbar ('Products')"/>

<div class="container">
    <div class="row py-2">
        <div class="col-12">
            <a class="btn btn-primary" th:href="@{/product/new}">Add Product</a>
        </div>
        <div class="col-12 mt-3">
            <form class="form-inline" th:method="get">


                <div class="form-group mb-2 mr-2">
                    <label for="productFilter" class="sr-only">Product Name filter</label>
                    <input type="text" class="form-control" id="productFilter" th:value="${param.productFilter}"
                           name="productFilter" placeholder="ProductName filter">
                </div>

                <div class="form-group mb-2 mr-2">
                    <label for="costMinFilter" class="sr-only">Cost min</label>
                    <input type="number" class="form-control" id="costMinFilter" th:value="${param.costMinFilter}"
                           name="costMinFilter" placeholder="Cost min filter">
                </div>

                <div class="form-group mb-2 mr-2">
                    <label for="costMaxFilter" class="sr-only">Cost max</label>
                    <input type="number" class="form-control" id="costMaxFilter" th:value="${param.costMaxFilter}"
                           name="costMaxFilter" placeholder="Cost max filter">
                </div>
                <button type="submit" class="btn btn-primary mb-2">Apply</button>
            </form>
        </div>
        <div class="col-12">
            <table class="table table-bordered my-2">
                <thead>
                <tr>
                    <th scope="col" th:replace="fragments/sort_product :: sort_header ('Id', 'id')" />
                    <th scope="col" th:replace="fragments/sort_product :: sort_header ('Товар', 'name')" />
                    <th scope="col" th:replace="fragments/sort_product :: sort_header ('Описание', 'description')" />
                    <th scope="col" th:replace="fragments/sort_product :: sort_header ('Цена', 'cost')" />
                    <th scope="col" sec:authorize="hasAnyRole('ROLE_ADMIN, SUPER_ADMIN')">Действия</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="product : ${product}">
                    <th th:text="${product.id}" scope="row">1</th>
                    <td th:text="${product.name}">Alex</td>
                    <td th:text="${product.description}">Alex</td>
                    <td th:text="${product.cost}">Alex</td>
                    <td sec:authorize="hasAnyRole('ROLE_ADMIN, SUPER_ADMIN')">
                        <a class="btn btn-success" th:href="@{/product/{id}(id = ${product.id})}"><i
                                class="fas fa-edit"></i></a>
                        <form class="d-inline" th:method="delete"
                              th:action="@{/product/{id}/delete(id = ${product.id})}">
                            <button class="btn btn-danger" type="submit"><i class="far fa-trash-alt"></i></button>
                        </form>
                        <!--                        <a class="btn btn-danger" th:href="@{/product/{id}/delete(id = ${product.id})}"><i class="far fa-trash-alt"></i></a>-->
                    </td>
                </tr>
                <tr th:unless="${product.hasContent()}">
                    <td colspan="4">No data</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-12">
            <nav aria-label="...">
                <ul class="pagination">
                    <li  th:classappend="${product.number eq 0} ? 'disabled'">
                        <a th:if="${not (product.number eq 0)}" th:href="@{/product(page=${product.number},size=${product.size}, productFilter=${param.productFilter}, minCost=${param.minCost}, maxCost=${param.maxCost}, sortField=${param.sortField})}" class="page-link">Previous</a>
<!--                        <a th:if="${product.number != 1}" href="javascript:void(0);" class="page-link">Previous</a>-->
                    </li>
                    <li th:each="num: ${#numbers.sequence(1, product.totalPages)}" th:if="${product.totalPages != 0}"
                        th:classappend="${num == product.number + 1} ? 'active' : ''"
                        class="page-item">
                        <a th:text="${num}" th:if="${num <= product.totalPages}"
                           th:href="@{/product(page=${num}, size=${product.size},
                           productFilter=${param.productFilter}, minCost=${param.minCost}, maxCost=${param.maxCost}, sortField=${param.sortField})}"
                           class="page-link">
                            <span th:if="${num == product.number + 1}" class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li  th:classappend="${(product.number) eq product.totalPages} ? 'disabled' : ''">
                        <a th:if="${not (product.number >= product.totalPages - 1)}" th:href="@{/product(page=${(product.number+2)},size=${product.size}, productFilter=${param.productFilter}, minCost=${param.minCost}, maxCost=${param.maxCost}, sortField=${param.sortField})}" class="page-link">Next</a>
<!--                        <a th:if="${product.number == product.totalPages}" href="javascript:void(0);" class="page-link">Next</a>-->
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<th:block th:replace="fragments/footer.html :: scripts"/>
</body>
</html>