<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <nav th:replace="fragments/NavigationBar.html :: head"/>
</head>

<body>

<nav th:replace="fragments/NavigationBar.html :: navbar"/>


<div class="container">
    <div class="row py-2">
        <div class="col-12">
            <a class="btn btn-primary" th:href="@{/user/new}">Add User</a>
        </div>

        <div class="col-12 mt-3">
            <form class="form-inline" th:method="get">
<!--                <div class="form-group mx-sm-3 mb-2 mr-2">-->
                <div class="form-group mb-2 mr-2">
                    <label for="usernameFilter" class="sr-only">Username filter</label>
                    <input type="text" class="form-control" id="usernameFilter" th:value="${param.usernameFilter}"
                           name="usernameFilter" placeholder="Username filter">
                </div>

                <button type="submit" class="btn btn-primary mb-2">Apply</button>
            </form>
        </div>

        <div class="col-12">
            <table class="table table-bordered my-2">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Пользователь</th>
                    <th scope="col">Дейтсвия</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${users}" >
                    <th th:text="${user.id}" scope="row">1</th>
                    <td th:text="${user.username}">Alex</td>
                    <td>
                        <a class="btn btn-success" th:href="@{/user/{id}(id = ${user.id})}"><i class="fas fa-edit"></i></a>
<!--                        форма для удлания записи. отправляет запрос типа post-->
                        <form class="d-inline" th:method="delete" th:action="@{/user/{id}(id = ${user.id})}">
                            <button class="btn btn-danger" type="submit"><i class="far fa-trash-alt"></i></button>
                        </form>
<!--                        <a class="btn btn-danger" th:href="@{/user/{id}/delete(id = ${user.id})}"><i class="far fa-trash-alt"></i></a>-->
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<th:block th:replace="fragments/footer.html :: scripts"/>
</body>
</html>