<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <nav th:replace="fragments/navigationbar.html :: head"/>
</head>

<body>

<nav th:replace="fragments/navigationbar.html :: navbar ('Users')"/>


<div class="container">
    <div class="row py-2">

        <div class="col-12" sec:authorize="hasAnyRole('SUPER_ADMIN')">
            <a class="btn btn-primary" th:href="@{/user/new}">Add User</a>
        </div>

        <div class="col-12 mt-3">
            <form class="form-inline" th:method="get">
                <!--                <div class="form-group mx-sm-3 mb-2 mr-2">-->
                <div class="form-group mb-2 mr-2">
                    <label for="usernameFilter" class="sr-only">Username filter</label>
                    <input type="text" class="form-control" id="usernameFilter" th:value="${param.usernameFilter}"
                           name="usernameFilter" placeholder="Username filter">
                </div>

                <button type="submit" class="btn btn-primary mb-2">Apply</button>
            </form>
        </div>

        <div class="col-12">
            <table class="table table-bordered my-2">
                <thead>
                <tr>
                    <th scope="col" th:replace="fragments/sort_user :: sort_header ('Id', 'id')" />
                    <th scope="col" th:replace="fragments/sort_user :: sort_header ('Username', 'username')" />
                    <th scope="col" th:replace="fragments/sort_user :: sort_header ('Age', 'age')" />
                    <th scope="col" sec:authorize="hasAnyRole('SUPER_ADMIN')">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${users}">
                    <th th:text="${user.id}" scope="row">1</th>
                    <td th:text="${user.username}">Alex</td>
                    <td th:text="${user.age}">21</td>
                    <td sec:authorize="hasAnyRole('SUPER_ADMIN')">
                        <a class="btn btn-success" th:href="@{/user/{id}(id = ${user.id})}"><i class="fas fa-edit"></i></a>
                        <!--                        форма для удлания записи. отправляет запрос типа post-->
                        <form class="d-inline" th:method="delete" th:action="@{/user/{id}(id = ${user.id})}">
                            <button class="btn btn-danger" type="submit"><i class="far fa-trash-alt"></i></button>
                        </form>
                        <!--                        <a class="btn btn-danger" th:href="@{/user/{id}/delete(id = ${user.id})}"><i class="far fa-trash-alt"></i></a>-->
                    </td>
                </tr>
                <tr th:unless="${users.hasContent()}">
                    <td colspan="4">No data</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-12">
            <nav aria-label="...">
                <ul class="pagination">
                    <li th:classappend="${users.number eq 0} ? 'disabled'">
                        <a th:if="${not (users.number eq 0)}" th:href="@{/user(page=${users.number},
                        size=${users.size},
                        usernameFilter=${param.usernameFilter},
                        minAge=${param.minAge},
                         maxAge=${param.maxAge}, sortField=${param.sortField})}"
                           class="page-link">Previous</a>
                        <!--                        <a th:if="${product.number != 1}" href="javascript:void(0);" class="page-link">Previous</a>-->
                    </li>

                    <li th:each="num: ${#numbers.sequence(1, users.totalPages)}"  th:if="${users.totalPages != 0}"
                        th:classappend="${num == users.number + 1} ? 'active'"
                        class="page-item">
                        <a th:text="${num}"  th:if="${num <= users.totalPages}"
                           th:href="@{/user(page=${num}, size=${users.size},
                           usernameFilter=${param.usernameFilter}, minAge=${param.minAge}, maxAge=${param.maxAge}, sortField=${param.sortField})}"
                           class="page-link">
                            <span th:if="${num == users.number + 1}" class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li th:classappend="${(users.number) >= users.totalPages} ? 'disabled' : ''">
                        <a th:if="${not (users.number >= users.totalPages - 1)}" th:href="@{/user(page=${(users.number+2)},
                        size=${users.size},
                         usernameFilter=${param.usernameFilter},
                          minAge=${param.minAge},
                           maxAge=${param.maxAge}, sortField=${param.sortField})}" class="page-link">Next</a>
                        <!--                        <a th:if="${product.number == product.totalPages}" href="javascript:void(0);" class="page-link">Next</a>-->
                    </li>
                </ul>
            </nav>
        </div>


    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<th:block th:replace="fragments/footer.html :: scripts"/>
</body>
</html>